* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, FontAwesome, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: transparent;
}

window#waybar {
    /* background-color: rgba(0, 0, 50, 0.5); */
    background-color: rgba(0, 39, 102, 0.7);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    padding: 0 10px;
    /* opacity: 0.5; */
    /* transparancy */
}


window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}:
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    border: none;
    border-radius: 0;
    background: transparent;
}

button:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.focused {
    background-color: rgba(255, 255, 255, 0.2);
}

#workspaces button.urgent {
    background-color: rgba(255, 0, 0, 0.5);
}



#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-separator {
    color: #ffffff;
    margin: 0;
    padding: 0 5px;
    background: transparent;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}



#battery.critical:not(.charging) {
    color: #ff0000;
}



label:focus {
    background-color: #000000;
}



#network.disconnected {
    color: #ff0000;
}

#pulseaudio.muted {
    color: #888888;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    min-width: 100px;
}

#temperature.critical {
    color: #ff0000;
}

#tray > .needs-attention {
    color: #ff0000;
}

#mpd.disconnected {
    color: #ff0000;
}

#keyboard-state {
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(255, 255, 255, 0.1);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}
